.modal-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    width: 100%;

    .modal-main {
        position: relative;

    }
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-card);
    background-color: var(--background-card);

    button {

        border: 3px solid var(--background-sidebar);
        background-color: var(--background-label);
        transition: all 0.2s ease-in-out;
        color: var(--color-label);

        &:hover {
            border: 3px solid var(--background-label);
            background-color: var(--background-menu);
            color: var(--color-menu);
        }
    }
}

.colorwrap,
.header {
    background-color: var(--background-label);
    color: var(--color-label);

    button {
        background-color: aliceblue;
    }

    .btn-close {
        color: var(--color-card);
    }
}

.color {
    background-color: var(--background-base);
    color: var(--color-base);
}

.colorBody {
    background-color: var(--background-card);
    color: var(--color-card);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    textarea,
    input {
        margin-top: 5px;
        border-color: var(--color-marker);
        color: var(--color-card);
        outline-color: var(--color-marker);
    }

    textarea {
        background-color: var(--background-card);
    }
}