:root {
  --background-color-base: white;
  --background-color-dark: #6a99db;
  --background-color-medium: #d7e5fa;
  --background-color-light: ghostwhite; //rgb(255, 251, 247);
  --background-color-intense: #286CCB;
  --background-color-pale: aliceblue;
  --color-marker: #0d6af5;
  --color-text-label: white;
  --color-text-inform: lightblue;
  --color-text-base: black;
  --background-color-opacity50: rgba(50, 90, 188, 0.5);
}

body {
  background-color: var(--background-color-base);
  color: var(--text-color-base)
}

.App {
  text-align: center;
  caret-color: transparent;
}

.main_page {
  text-align: center;
  margin-top: 2rem;
}

.divAdvice {

  color: #2334B5;
  position: absolute;
  text-align: center;
  width: inherit;
  font-weight: 500;
  font-size: medium;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.training-label {
  position: absolute;
  top: 0;
  z-index: 1600;


  @media screen and (max-width:900px) {
    top: 35px;
    width: 100%;
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.aboutcontent {
  /* display: flex; */
  margin-top: 5rem;
  height: 100%;
  backdrop-filter: blur(14px);
}

.aboutpageImg {
  /* filter: blur(3px); */
  /* background-image: url(../img/loginpage.jpg); */
  background-size: 100%;
  min-height: 100vh;
  background-attachment: scroll;
  z-index: -4;
  position: fixed;
  left: 0;
  right: 0;
  border-top-right-radius: 35px;
}

.abouttext {
  font-weight: 600;
  /* opacity: 0.7;
  background-color: aliceblue; */
}

.enable-button-pointers {
  cursor: auto;
}

.modal-max {
  width: fit-content;
  max-width: none !important;
}

.modal-info {
  width: 28rem;
  /* max-width: none!important; */
}

.rename-div {
  width: 40%;
  /* max-width: none!important; */
}

.center-div {
  width: fit-content;
  margin: auto;
  /* max-width: none!important; */
}

.modal-h50 {
  height: 28rem;
}

.pointer {
  cursor: pointer;
}

.color-base {
  color: var(--color-text-base);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.popupBtn {
  height: 2.1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;

  font-size: 1.4rem;
  position: absolute;
  left: 0;
  top: -3px;
  border: 1px solid #0b3e86;
  border-radius: 7px;
  color: white;
  /* color:#296FD1; */
  background-color: #296FD1;
  background-color: #3390FF;
  opacity: 0.8;
}

.expression {
  font-weight: 600;
  color: var(--color-marker);
  position: relative;

  &:hover:not([data-note=""]) {
    &::after {
      content: attr(data-note);
      position: absolute;
      top: -30px;
      right: 0;
      font-size: 15px;
      min-width: 0;
      max-width: 50vw;
      border-radius: 5px;
      padding: 2px 5px;
      background-color: var(--background-color-light);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      color: var(--color-marker);

    }
  }
}

.pict {
  width: 30%;
  height: 30%;
  /* float:left; */
}

.hint1 {
  width: 50%;
  display: flex;
  margin: auto;
  height: 2.8vc;
  align-items: flex-end;
  color: var(--color-text-base);
  text-align: center;
  justify-content: space-between;
  font-size: small;
  position: relative;
  z-index: 3;
}

.hintT {
  width: 80%;
  align-self: baseline;
  text-align: end;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background: #B5DBEF;
  background: #93AEBF;
  font-size: large;
  width: 100%;
  height: 3%;
}

@media screen and (min-width: 600px) {
  .aboutP {
    font-size: 1vw;
    margin-bottom: 2rem;
  }

  .aboutH {
    font-size: 3vw;
  }

  .hint1 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .aboutP {
    font-size: 3vw;
    margin-bottom: 2rem;
  }

  .aboutH {
    font-size: 5vw;
  }

  .hint1 {
    width: 80%;


  }
}

.circles-hint {
  width: fit-content;
  justify-content: end;
  position: absolute;
  right: 0;

  &:hover {
    &::after {
      content: "click to hide or show count button";
      background-color: var(--color-text-base);
      color: var(--background-color-base);
      position: absolute;
      top: 15px;
      border-radius: 5px;

      width: 24rem;
      font-size: 10px;
    }
  }

  // @media screen and (max-width:900px)and (max-width:900px) {
  //   flex-direction: column;
  // }
}

.circle {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.training_header {
  position: absolute;
  top: 20;
  left: 0;
  width: min-content;
  margin-left: 3rem;
}

.countBtns {
  position: absolute;
  z-index: 1300;
  width: 8rem;
  height: 8rem;

  div {

    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #0d6efd;
    right: -5px;
    bottom: -5px;
    // border-top-left-radius: 100%;
    border-radius: 0 50% 50%;
    cursor: grab;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  button {
    font-size: 45px;
    // background-color: #ffc107;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    transition: all 0.2s ease-in-out;

    box-shadow: var(--color-text-base) 0px 1px 2px 0px, var(--color-text-base) 0px 2px 6px 2px;
    color: var(--color-text-base);

    &:hover {
      background-color: #ffc107;
      color: black;
      box-shadow: inset #fff 0 0 10px 5px,
        #fff 0 0 10px 5px;
      scale: 1.1;
    }

  }
}


.color_container {
  z-index: 1;
  position: absolute;
  width: 541.82px;
  height: 587.16px;
  left: 381.43px;
  top: 326.68px;

  background: #296FD1;
  // background: var(--background-color-intense);
  ;
  opacity: 0.45;
  filter: blur(158.5px);
}

@media screen and (max-width: 1100px) {
  .display-1 {
    font-size: 3rem;
  }
}

#dropdown-custom-components {
  padding: 0;
  height: 100%;
}

#dropdown-custom-components::before {
  display: none !important;
}

#dropdown-custom-components::after {
  display: none !important;
}

.redBorder {
  border: 1px solid red;
  min-width: 100px;
  min-height: 100px;
}

.info-plan {
  height: 205px;
  overflow: auto;
}

.toggleBtn {

  height: 100%;
  margin: auto;

  @media screen and (max-width:900px) {
    margin-top: 1rem;

  }
}

.toggleBtn label {
  font-size: 20px;
}

.themeBtn {

  label,
  input {
    width: 3rem;
    height: 3rem;
    font-size: 16px;
    padding: 0;
    text-align: center;
    line-height: 2;
  }
}