

 



.login_block {
    width: 350px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #296FD1;
    margin: 0 auto;
    margin-top: 8rem;
    font-size: large;
}
.login_block .h1login {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.login_block .inputlogin {  caret-color: auto;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-size: large;

    padding: 0 20px 0 50px;
    outline: none;
}
.login_block .logbutton {
    width: 100%;
    height: 40px;
    background: #296FD1;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #79d1ee;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;

    outline: none;
    cursor: pointer;
}
.login_block .logbutton:hover {
    background: #72cbfe;
}

.err{
	color: 	 red;
	font-size: large;
}
.lblInput{
  font-size: small;
  margin: 0;
  text-align: left;
  color: rgb(165, 179, 186);
}