.planWrap {
    .planshort {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 36px;
    }

    .plan {
        display: flex;
        color: var(--color-card);

        .planDay,
        .planDaytoday {
            p {
                margin: 0;
                font-weight: 700;
                width: fit-content;

            }

            display: flex;
            flex-direction: column;
            align-items: center; // margin: 1rem;
            margin: 0.5rem;

            @media screen and (max-width:900px) {
                margin: 0.4rem;
            }
        }

        .planDaytoday {
            border: 2px solid var(--color-card);
            border-radius: 5px;
        }
    }

    .today {
        background-color: red;


    }


    @media screen and (max-width:900px) {
        font-size: 17px;
    }

}




.history {
    color: var(--color-card);
    overflow: auto;
    // &::before {
    //     content: "";
    //     height: 5px;
    //     width: 80%;
    //     background-color: var(--background-label);
    //     display: block;
    //     text-align: center;
    //     margin: auto;
    //     border-radius: 3px;
    // }
}