.App {
  text-align: center;
}
.expression-exit{
  transform: scale(1);
}
.expression-exit-active{
  transform: scale(0.1);
  transition: all 500ms ease-in;
}
.expression-enter{
  transform: scale(0.1);
}
.expression-enter-active{
  transform: scale(1);
  transition: all 500ms ease-in;
}
.modal-max{
  width:max-content;
  max-width: none!important;
}

.pointer{
  cursor: pointer;
}
.padding25{
  padding-left: 25%;
  padding-right: 25%;
}

.input-line{
padding-left: 25%;
padding-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
/* d-flex p-2 flex-wrap justify-content-center */
.aboutImg{
width:40%;
height: 40%;
float:left;
}


@media screen and (min-width: 600px) {
  .aboutP{
    font-size: 1vw;
    margin-bottom: 2rem;
  }
  .aboutH{
    font-size: 3vw;
    
  }
  .hint{
    width: 60%;
    display: flex;
    margin: auto;
    height: fit-content;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  font-size: small;
  
  }
}
@media screen and (max-width: 600px) {
  .aboutP{
    font-size: 3vw;
    margin-bottom: 2rem;
  }
  .aboutH{
    font-size: 5vw;
  }
  .hint{
    width: 80%;
    display: flex;
    margin: auto;
    height: fit-content;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  font-size: small;
  
  }
}



.animation-exit{
  color: white;
  transform: rotateY(0deg);   transform-style: preserve-3d;
}
.animation-exit-active{
  transform: rotateY(180deg);
 transition: all 500ms ease-in;
 transform-style: preserve-3d;
}
.animation-enter{  color: white;
  transform: rotateY(180deg);  transform-style: preserve-3d;
}
.animation-enter-active{
  transform: rotateY(0);
  transition: all 500ms ease-in;
  transform-style: preserve-3d;
}


  
.front-face-transition-enter {
  transform: rotateY(180deg);
}
.front-face-transition-enter-active {
  transition: all 1000ms ease;
  transform: rotateY(0deg);
}

.front-face-transition-exit {
  transform: rotateY(0deg);
}

.front-face-transition-exit-active {
  transform: rotateY(180deg);
  transition: all 1000ms ease;
}

.front-face-transition-exit-done {
  transform: rotateY(180deg);
}

.back-face-transition-enter {
  transform: rotateY(-180deg);
}
.back-face-transition-enter-active {
  transform: rotateY(0deg);
  transition: all 1000ms ease;
}


.back-face-transition-exit {
  transform: rotateY(0deg);
}

.back-face-transition-exit-active {
  transform: rotateY(-180deg);
  transition: all 1000ms ease;
}

.card_gallery-enter {
  opacity: 0;
  transform: translateX(100%);
}
.card_gallery-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}
.card_gallery-exit {
  opacity: 1;
  transform: translateX(0%);
}
.card_gallery-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
  /* transition: all 500ms ease; */
}
.card_gallery_back-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.card_gallery_back-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}
.card_gallery_back-exit {
  opacity: 1;
  transform: translateX(0%);
}
.card_gallery_back-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
  /* transition: all 500ms ease; */
}
.card_gallery_down-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.card_gallery_down-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms, transform 500ms;
}
.card_gallery_down-exit {
  opacity: 1;
  transform: translateY(0%);
}
.card_gallery_down-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 500ms, transform 500ms;
  /* transition: all 500ms ease; */
}
.card_gallery_up-enter {
  opacity: 0;
  transform: translateY(100%);
}
.card_gallery_up-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms, transform 500ms;
}
.card_gallery_up-exit {
  opacity: 1;
  transform: translateY(0%);
}
.card_gallery_up-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
  /* transition: all 500ms ease; */
}

