.App {
  text-align: center;
}

.word-exit{
  transform: scale(1);
}

.word-exit-active{
  transform: scale(0.1);
  transition: all 500ms ease-in;
}
.modal-max{
  width:max-content;
  max-width: none!important;
}
.pointer{
  cursor: pointer;
}
.input-line{
padding-left: 25%;
padding-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
