.navbarico {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 5px;
  left: 0;
  margin-bottom: 2.5rem;
}

.nav-top-string {
  justify-content: flex-end;
  padding-right: 2rem;
  background-color: var(--background-color-base);
}

.nav {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: end;
  z-index: 500;

  button {
    font-size: 16px;
    background-color: var(--background-color-base);
    color: var(--color-text-base);
    border: none;

    &:hover {
      color: var(--color-marker);
    }
  }
}

.navLink,
.navLinkActive {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-base);
  background-color: var(--background-color-base);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

  &:hover {
    // background-color: var(--background-color-dark);
    color: var(--color-marker);
  }
}

.navLinkActive {
  background-color: var(--color-text-base);
  color: var(--background-color-base)
}

@media screen and (min-width: 600px) {

  .nav {
    font-size: large;
  }
}


@media screen and (max-width: 600px) {
  .nav {
    position: relative;
    font-size: small;
    padding-right: 0rem;
    width: fit-content;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 600px) and (max-height: 600px) {
  .nav {
    /* position: fixed; */
    font-size: small;
    padding-right: 0rem;
    /* width: fit-content; */
    display: contents;
    margin-bottom: 0;
  }
}