.navbarico {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 5px;
  left: 0;
  margin-bottom: 2.5rem;
}

.countBadge {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 14px;
  padding: 0 0px;

  font-family: sans-serif;
  font-weight: 700;

  color: var(--color-marker);
  background-color: var(--background-color-light);
  border: 1px solid var(--color-marker);

  border-radius: 5px;
  height: 17px;
  line-height: 1.2;

  @media screen and (max-width:900px) {
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 1.1;
  }
}

.nav-top-string {
  justify-content: flex-end;
  padding-right: 2rem;
  background-color: var(--background-color-base);

  @media screen and (max-width: 900px) {
    padding-right: 0rem;
  }

}

.nav {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: end;
  z-index: 500;

  button {
    font-size: 20px;
    background-color: var(--background-color-base);
    color: var(--color-text-base);
    border: none;

    @media screen and (max-width: 900px) {
      font-size: 14px;
    }

    &:hover {
      color: var(--color-marker);
    }
  }

  @media screen and (min-width: 600px) {
    font-size: large;
  }

  @media screen and (max-width: 600px) {
    position: relative;
    font-size: small;
    padding-right: 0rem;
    // width: fit-content;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  @media screen and (min-width: 600px) and (max-height: 600px) {
    font-size: small;
    padding-right: 0rem;
    display: contents;
    margin-bottom: 0;
  }
}

.navLink,
.navLinkActive {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-base);
  background-color: var(--background-color-base);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  position: relative;

  &:hover {
    color: var(--color-marker);
  }

  @media screen and (max-width: 900px) {
    font-size: 14px;
    padding: 5px 7px;

  }
}

.navLinkActive {
  background-color: var(--color-text-base);
  color: var(--background-color-base);

  &:hover {
    color: var(--background-color-base);
  }
}